extends layouts/default

block title
  title Koa2 server movies
block content
  style.
    header{
      font-size:12px;
    }
    img{
      width:100px;
      height:100px;
    }
  include ./includes/header
  .container-fluid
    .sidebar
    .content
      .row
        .col-md-6
          .card
            img.card-img-top(src="http://pic.pptbz.com/201506/2015070581208537.JPG")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 1 天前更新
        .col-md-6
          .card
            img.card-img-top(src="http://pic.pptbz.com/201506/2015070581208537.JPG")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 1 天前更新
      .row
        .col-md-6
          .card
            img.card-img-top(src="http://pic.pptbz.com/201506/2015070581208537.JPG")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 1 天前更新
        .col-md-6
          .card
            img.card-img-top(src="http://pic.pptbz.com/201506/2015070581208537.JPG")
            .card-body
              h4.card-title 标题
              p.card-desc 描述
            .card-footer
              small.text-muted 1 天前更新